# Task 1: Calculate Area with Conditions

In [1]:
def calculate_area(length, width):
    if length == width:
        return "This is a square!"
    else:
        return length * width

length = float(input("Enter the length: "))
width = float(input("Enter the width: "))
result = calculate_area(length, width)
print(result)

12.0

# Task 2: Generate Fibonacci Series

In [2]:
def generate_fibonacci(n):
    fib_sequence = [0, 1]
    for i in range(2, n):
        next_term = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_term)
    return fib_sequence

n = int(input("Enter the number of terms: "))
result = generate_fibonacci(n)
print(result)

[0, 1, 1, 2, 3]

# Task 3: MySQL Database Operations with Python

In [3]:
import mysql.connector

# Connect to the SQL
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="70070"  
)

# Create a cursor
mycursor = mydb.cursor()

# Create a Database
mycursor.execute("CREATE DATABASE College")
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="70070",
database="College"
)
mycursor = mydb.cursor()

# Create a table
mycursor.execute("CREATE TABLE IF NOT EXISTS student (student_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255), age INT, grade FLOAT)")

# Insert new student records
sql = "INSERT INTO student (first_name, last_name, age, grade) VALUES (%s, %s, %s, %s)"
val1 = ("Shweta", "Yadav", 20, 90.5)
val2 = ("Alice", "Smith", 18, 95.5)
val3 = ("Shika", "Singh", 24, 91.5)
mycursor.execute(sql, val1)
mycursor.execute(sql, val2)
mycursor.execute(sql, val3)

# Commit the changes
mydb.commit()

# Update the grade of the student
sql = "UPDATE student SET grade = 97.0 WHERE first_name = 'Alice'"
mycursor.execute(sql)
mydb.commit()

# Delete the student
sql = "DELETE FROM student WHERE last_name = 'Smith'"
mycursor.execute(sql)
mydb.commit()

# Fetch and display all student records
mycursor.execute("SELECT * FROM student")
records = mycursor.fetchall()
for record in records:
    print(record)

(1, 'Shweta', 'Yadav', 20, 90.5)
(3, 'Shika', 'Singh', 24, 91.5)